#contact {
	background-color: #111;
	color: #fff;

	.heading {
		hr {
			background-color: #fff;
		}
		p {
			color: #f4f4f4;
		}
	}

	.contact-details {
		margin-top: 7rem;

		ul {
			li {
				span {
					font-weight: bold;
				}

				list-style: none;
			}
		}
	}

	.social-links {
		margin-top: 2rem;

		ul {
			li {
				list-style: none;
				display: inline;
				margin-right: 1rem;

				.fa {
					color: #fff;

					&:hover {
						color: #B3AA83;
					}
				}
			}
		}
	}
}